<ion-list>
  <ion-list-header class="heading-popup">Select Action:</ion-list-header>
  <ion-item *ngIf="message">
    <ion-button expand="block" color="success" (click)="close('message')">
      <ion-icon
        name="chatbubble-ellipses-outline"
        style="margin: 0 8px 0 0"
      ></ion-icon>
      Message
    </ion-button>
  </ion-item>

  <ion-item *ngIf="edit">
    <ion-button expand="block" color="primary" (click)="close('edit')">
      <ion-icon name="pencil-outline" style="margin: 0 8px 0 0"></ion-icon>
      Edit
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-button expand="block" color="warning" (click)="close('report')">
      <ion-icon name="flag-outline" style="margin: 0 8px 0 0"></ion-icon>
      Report
    </ion-button>
  </ion-item>

  <ion-item *ngIf="delete">
    <ion-button expand="block" color="danger" (click)="close('delete')">
      <ion-icon name="trash-outline" style="margin: 0 8px 0 0"></ion-icon>
      Delete
    </ion-button>
  </ion-item>

  <ion-item lines="none" detail="false" button (click)="close()">
    Close
  </ion-item>
</ion-list>
