<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About Page</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="ion-margin-top pb-32">
            <ion-card-header color="primary">
              <ion-card-title>Application</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-padding-horizontal">
              <p class="text pt-32">
                <ion-text color="dark">
                  A online property management solution for real estate and
                  physical property management. This can include residential,
                  commercial, and land real estate. a software developed to
                  connect property managers and potential buyers.
                </ion-text>
              </p>
              <p class="text ion-padding-top">
                <ion-text color="dark">
                  Whether you operate 1 to 100 properties this app will help you
                  advertise, manage and sell your properties to potential
                  buyers.
                </ion-text>
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" sizeLg="6" class="map-container">
          <img src="assets/images/about/about-map.svg" alt="map image" />
        </ion-col>
        <ion-col size="12" sizeLg="6">
          <ion-card class="pb-32">
            <ion-card-header color="primary">
              <ion-card-title>MAP VIEW</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-padding-bottom">
              <p class="text pt-32">
                <ion-text color="dark">
                  Maps can be a useful tool for viewing properties location &
                  filter them by types. this also help us to know distances so
                  that we know how far away one thing is from another.
                </ion-text>
              </p>
              <p class="text ion-padding-top">
                <ion-text color="dark">
                  You might not necessarily want to find the fastest route from
                  property A to property B, you might want to take the scenic
                  route. Knowing how to spot mountains, lakes, coastline and
                  historic sites on a map helps you to plan which property to
                  visit.
                </ion-text>
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="contact-section">
    <ion-button color="success" size="large">CONTACT US</ion-button>
  </div>
  <div class="about-container">
    <ion-grid class="feature-section">
      <ion-row>
        <ion-col size="12" sizeLg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-text color="primary">Connect</ion-text> with realtors
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="features">
              <img src="assets/images/about/about-connection.svg" alt="image" />
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeLg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-text color="primary">Buy</ion-text> new properties
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="features">
              <img src="assets/images/about/about-buy.svg" alt="image" />
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeLg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-text color="primary">Sell</ion-text> your properties
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="features">
              <img src="assets/images/about/about-sell.svg" alt="image" />
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="height: 100px"></div>
  </div>

  <div class="status-section">
    <div class="status">
      Development is <ion-text color="warning">Ongoing</ion-text>
    </div>
    <div>
      Currently being developed:
      <a href="https://github.com/eevan7a9">Eevan7a9</a>
    </div>
  </div>
</ion-content>
