.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}
.previews {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding-bottom: 24px;
  .preview-img {
    padding: 8px;
    width: 100%;
    height: 100%;
    border: 2px dashed var(--ion-color-medium);
    position: relative;
    .cover-hover {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(54, 54, 54, 0.753);
      z-index: 1;
      opacity: 0;
      cursor: pointer;
      transition: opacity ease-out 0.5s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: aliceblue;
      p {
        margin: 0;
        font-weight: 900;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
.upload-form-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  .input-contianer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 4px dashed var(--ion-color-light-shade);
    position: relative;
    margin-bottom: 16px;
    p {
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 170px;
      color: var(--ion-color-dark-shade);
      font-family: Arial;
    }
    input {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
    }
  }

  ion-button {
    border: none;
    transition: all 0.2s ease;
    --padding-top: 16px;
    --padding-bottom: 16px;
  }
}
