<ion-header translucent>
  <ion-toolbar>
    <ion-title class="px-3">Property Uploads</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline" style="font-size: 28px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="h-full flex flex-col pb-8">
    <section title="preview-section" class="previews" *ngIf="previews.length">
      <div
        *ngFor="let preview of previews; let i = index"
        class="border-[3px] border-gray-500 border-dashed relative cursor-pointer w-full h-full p-2"
        (click)="removeFile(i)"
      >
        <img [src]="preview" class="h-full w-full" alt="preview" />
        <div
          class="absolute h-full w-full top-0 bottom-0 left-0 right-0 z-50 opacity-0 hover:opacity-90 transition-opacity ease-in-out duration-700"
        >
          <div
            class="bg-gray-700 flex flex-col items-center justify-center h-full w-full"
          >
            <p class="text-light font-semibold">Click to remove!</p>
            <small class="text-light">{{ selectedFiles[i].name }}</small>
          </div>
        </div>
      </div>
    </section>

    <section title="upload-section" class="flex flex-col mb-4">
      <div
        class="w-full h-full my-0 mx-auto border-4 border-dashed relative mb-4"
        *ngIf="!previews.length"
      >
        <div>
          <input
            type="file"
            name="imageUpload"
            (change)="onSelectFile($event)"
            id="imageUpload"
            multiple
            class="absolute h-full w-full m-0 p-0 outline-none opacity-0"
          />
          <p class="text-center leading-[170px] text-gray-700 dark:text-light">
            Drag your files here or click in this area.
          </p>
        </div>
      </div>
      <ion-button
        color="primary"
        expand="block"
        class=""
        id="uploadBtn"
        (click)="upload()"
      >
        Upload Image
      </ion-button>
    </section>

    <app-properties-current-images
      [images]="property.images"
      [id]="property.property_id"
      [hidden]="!property.images?.length"
      (delete)="imagesToDelete($event)"
    ></app-properties-current-images>
  </div>
</ion-content>

<ion-footer translucent>
  <ion-toolbar> </ion-toolbar>
</ion-footer>
