<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register Page</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-container">
    <ion-card class="register-card">
      <ion-card-header class="ion-text-center">
        <div class="logo-container">
          <img src="../assets/images/logo.png" alt="logo" />
          <div class="source"></div>
        </div>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="registerForm" (submit)="submit()">
          <ion-list>
            <ion-item>
              <ion-input
                type="text"
                labelPlacement="floating"
                label="Full Name"
                formControlName="fullName"
              ></ion-input>
            </ion-item>

            <div
              class="alert-errors"
              *ngIf="registerForm.get('fullName').errors"
            >
              <app-alert-card
                content="Full Name is too short."
              ></app-alert-card>
            </div>

            <ion-item>
              <ion-input
                type="email"
                labelPlacement="floating"
                label="Email"
                formControlName="email"
              ></ion-input>
            </ion-item>

            <div
              class="alert-errors"
              *ngIf="registerForm.get('email').errors"
            >
              <app-alert-card content="Email is not valid. ex: name@email.com"></app-alert-card>
            </div>

            <ion-item>
              <ion-input
                label="Password"
                labelPlacement="floating"
                type="password"
                formControlName="password"
              ></ion-input>
            </ion-item>

            <div
              class="alert-errors"
              *ngIf="registerForm.get('password').errors"
            >
              <app-alert-card
                content="Length needs to be 8+ long & contain a
                (number, special characters, small case & capitalize)."
              ></app-alert-card>
            </div>

            <ion-item>
              <ion-input
                type="password"
                labelPlacement="floating"
                label="Confirm Password"
                formControlName="confirm"
              ></ion-input>
            </ion-item>

            <div
              class="alert-errors"
              *ngIf="registerForm.errors?.notConfirmed"
            >
              <app-alert-card
                content="Password not confirmed."
              ></app-alert-card>
            </div>

            <div class="ion-padding-vertical">
              By continuing, you agree to our <a>User Agreement</a> and
              <a>Privacy Policy</a>.
            </div>

            <ion-button
              size="large"
              class="ion-margin-top"
              expand="full"
              color="primary"
              type="submit"
            >
              Sign Up
            </ion-button>

            <div class="ask-signin">
              Already have an Account?
              <a [routerLink]="['/user/signin']">Sign in</a>
            </div>
          </ion-list>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  <app-footer></app-footer>
</ion-content>
