<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Enquiries Page</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      clearIcon
      debounce="1300"
      [(ngModel)]="search"
      animated
      (ionChange)="enquiriesList.setSearch(search)"
      placeholder="Search Enquiry"
    ></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeMd="6">
          <ion-item lines="none">
            <ion-label>Filter by:</ion-label>
            <ion-select
              multiple="true"
              [(ngModel)]="filterBy"
              (ionChange)="enquiriesList.setFilters(filterBy)"
            >
              <ion-select-option
                *ngFor="let filter of filters"
                [value]="filter.value"
              >
                {{filter.label}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="12" sizeMd="6">
          <ion-item lines="none">
            <ion-label>Sort by:</ion-label>
            <ion-select
              [(ngModel)]="sortBy"
              okText="Okay"
              cancelText="Dismiss"
              (ionChange)="enquiriesList.setSort(sortBy)"
            >
              <ion-select-option
                *ngFor="let sort of sorts"
                [value]="sort.value"
              >
                {{ sort.label}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="enquiries-container">
    <ion-progress-bar
      style="margin: 4px 0 0 0"
      type="indeterminate"
      [hidden]="!progressBar"
    ></ion-progress-bar>

    <app-enquiries-list
      #enquiriesList
      (isLoading)="presentLoading()"
    ></app-enquiries-list>
  </div>
</ion-content>
