ion-content {
  --background: var(--ion-color-light);
}

.enquiries-container {
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

ion-searchbar {
  --box-shadow: none;
}
.heading {
  font-size: 24px;
  font-weight: bold;
}

.security-container {
  background: url(../../assets/images/security.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  max-height: 800px;
  max-width: 800px;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    bottom: 50px;
    h1 {
      font-size: 42px;
      font-weight: 900;
    }
    h4 {
      font-size: 28px;
      font-weight: 700;
    }
    h1,
    h4 {
      color: black;
      -webkit-text-fill-color: var(
        --ion-color-primary-shade
      ); /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: var(--ion-color-primary-shade);
    }
    ion-button {
      --background: var(--ion-color-white-shade);
    }
  }
}
