ion-content {
  --background: var(--ion-color-light);
}

.enquiries-container {
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

ion-searchbar {
  --box-shadow: none;
}
.heading {
  font-size: 24px;
  font-weight: bold;
}
