<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu class="max-w-400" contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <div class="logo-container">
              <img src="../assets/images/logo.png" alt="logo" />
              <div class="logo-title">
                <a href="https://github.com/eevan7a9/real-estate-management">
                  Real Estate Management
                </a>
              </div>
            </div>
          </ion-list-header>
          <!-- <ion-note></ion-note> -->
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title || "Menu Item" }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appLowerPages; let i = index"
            [hidden]="isHidden(p)"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title || "Menu Item" }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" [hidden]="!user">
            <ion-item button (click)="signOut()" lines="none" bu detail="false">
              <ion-icon
                slot="start"
                [ios]="'log-out' + '-outline'"
                [md]="'log-out' + '-sharp'"
              ></ion-icon>
              <ion-label>Sign Out</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
