ion-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .action-btn {
    --box-shadow: none;
  }
  .enquiry-title {
    display: flex;
    align-items: center;
    .badge {
      margin-right: 8px;
    }
  }
}

@media (max-width: 920px) {
  .item-text {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  ion-card-header {
    .enquiry-title {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .badge {
        margin: 0 0 8px 0;
      }
    }
  }
}
