<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Account Page</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-router-outlet></ion-router-outlet>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="profile">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="change-password">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-label>Change Password</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="notifications">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Notifications</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
