<ion-header translucent>
  <ion-toolbar>
    <ion-title>Add new property</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline" style="font-size: 28px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="form ion-padding">
  <form [formGroup]="propertyForm">
    <!-- STEP ONE -->
    <section *ngIf="step === 1">
      <ion-item lines="none">
        <ion-label position="stacked">Name:</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <div
        class="alert-errors"
        *ngIf="error && propertyForm.get('name').errors"
      >
        <app-alert-card content="Name is not valid."></app-alert-card>
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">Address:</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>

      <div
        class="alert-errors"
        *ngIf="error && propertyForm.get('address').errors"
      >
        <app-alert-card content="Address is not valid."></app-alert-card>
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea
          formControlName="description"
          placeholder="..."
        ></ion-textarea>
      </ion-item>

      <ion-list>
        <ion-radio-group formControlName="type">
          <ion-list-header>
            <ion-label>Type</ion-label>
          </ion-list-header>

          <ion-item lines="none" *ngFor="let type of propertyTypes">
            <ion-label>{{ type.label }}</ion-label>
            <ion-radio slot="start" [value]="type.value"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </section>
    <!-- STEP TWO -->
    <section *ngIf="step === 2">
      <ion-item lines="none">
        <ion-label position="stacked">Price:</ion-label>
        <ion-input type="number" formControlName="price"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Currency:</ion-label>
        <ion-input
          type="text"
          placeholder="USD, PHP, SGD"
          formControlName="currency"
        ></ion-input>
      </ion-item>

      <div
        class="alert-errors"
        *ngIf="error && propertyForm.get('currency').errors"
      >
        <app-alert-card content="Currency is not valid."></app-alert-card>
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">Features:</ion-label>

        <ion-textarea
          formControlName="features"
          placeholder="bedroom, kitchen, ..."
        ></ion-textarea>
      </ion-item>
      <div class="notes">For multiple features separate with comma( , )</div>

      <div class="coord-heading">
        <ion-text color="dark">Set Marker Position:</ion-text>
        <ion-button size="small" color="primary" (click)="openMap()">
          Open Map
        </ion-button>
      </div>
      <div class="coord-input">
        <ion-item lines="none">
          <ion-label position="floating">Latitude:</ion-label>
          <ion-input
            type="text"
            formControlName="lat"
            placeholder="Latitude"
          ></ion-input>
        </ion-item>
        <div class="ion-margin"></div>
        <ion-item lines="none">
          <ion-label position="floating">Longitude:</ion-label>
          <ion-input
            type="text"
            formControlName="lng"
            placeholder="Longitude"
          ></ion-input>
        </ion-item>
      </div>
    </section>

    <ion-button
      expand="block"
      size="large"
      (click)="submit()"
      class="ion-margin"
      color="success"
    >
      {{ step === 2 ? "Submit" : "Next" }}
    </ion-button>
  </form>
</ion-content>

<ion-footer translucent>
  <ion-toolbar>
    <div class="ion-padding-horizontal">Step {{ step }} / 2</div>
  </ion-toolbar>
</ion-footer>
