<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="step === 2">
      <ion-button (click)="step = 1">
        <ion-icon name="arrow-back-outline" style="font-size: 24px"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="px-3 capitalize">Add new property</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline" style="font-size: 28px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="propertyForm" class="bg-slate-100 dark:bg-dark">
    <!-- STEP ONE -->
    <section *ngIf="step === 1">
      <ion-list class="bg-white dark:bg-[#1e1e1e] pl-3!">
        <ion-item lines="none">
          <ion-input
            type="text"
            label="Name:"
            labelPlacement="floating"
            formControlName="name"
            fill="outline"
            helperText="Enter property name"
            errorText="Invalid Name"
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input
            type="text"
            label="Address:"
            labelPlacement="floating"
            formControlName="address"
            fill="outline"
            helperText="Enter property physical address"
            errorText="Invalid address, address is required"
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-textarea
            formControlName="description"
            labelPlacement="floating"
            label="Description:"
            placeholder="..."
            fill="outline"
            helperText="Enter property description"
            errorText="Invalid description, too short"
          ></ion-textarea>
        </ion-item>
      </ion-list>

      <ion-list class="mt-3! pl-3!">
        <ion-radio-group formControlName="type">
          <ion-list-header class="px-2 md:text-[20px]">
            <ion-label>Type</ion-label>
          </ion-list-header>

          <ion-item
            class="!m-0"
            lines="none"
            *ngFor="let type of propertyTypes"
          >
            <label for="radio">{{ type.label }}</label>
            <ion-radio
              slot="start"
              id="radio"
              [label]="type.label"
              [value]="type.value"
              class="mx-2"
            ></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-list class="py-0 pl-3! mt-3">
        <ion-radio-group formControlName="transactionType">
          <ion-list-header class="px-2 md:text-[20px]">
            <ion-label>Transaction Type</ion-label>
          </ion-list-header>

          <ion-item
            class="!m-0"
            lines="none"
            *ngFor="let transaction of transactionType"
          >
            <label for="radio">{{ transaction.label }}</label>
            <ion-radio
              slot="start"
              id="radio"
              class="mx-2"
              [label]="transaction.label"
              [value]="transaction.value"
            ></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </section>
    <!-- STEP TWO -->
    <section *ngIf="step === 2">
      <ion-list class="bg-white dark:bg-[#1e1e1e] pl-3!">
        <ion-item
          lines="none"
          *ngIf="propertyForm.get('transactionType').value === 'rent'"
        >
          <ion-select
            label="Payment Frequency"
            label-placement="floating"
            fill="outline"
            formControlName="paymentFrequency"
          >
            <ion-select-option
              *ngFor="let frequency of rentPaymentFrequency"
              [value]="frequency.value"
            >
              {{ frequency.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-input
            type="number"
            label="Price:"
            labelPlacement="floating"
            formControlName="price"
            fill="outline"
            helperText="Enter property price"
            errorText="Invalid price"
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input
            type="text"
            placeholder="USD, PHP, SGD"
            labelPlacement="floating"
            label="Currency:"
            formControlName="currency"
            fill="outline"
            helperText="Enter property currency"
            errorText="Currency is not valid"
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-textarea
            formControlName="features"
            label="Features:"
            labelPlacement="floating"
            placeholder="bedroom, kitchen, ..."
            fill="outline"
            helperText="For multiple features separate with comma( , )"
          ></ion-textarea>
        </ion-item>
      </ion-list>

      <div class="bg-white dark:bg-[#1e1e1e] p-2 sm:p-3 mt-3">
        <div class="flex items-center py-2">
          <span class="text-[18px] dark:text-light mr-2">
            Set Marker Position:
          </span>
          <ion-button size="small" color="primary" (click)="openMap()">
            Open Map
          </ion-button>
        </div>

        <div class="flex flex-col md:flex-row gap-3 mt-2">
          <ion-input
            type="text"
            label="Latitude:"
            labelPlacement="floating"
            formControlName="lat"
            placeholder="Latitude"
            fill="outline"
          ></ion-input>
          <ion-input
            type="text"
            label="Longitude:"
            labelPlacement="floating"
            formControlName="lng"
            placeholder="Longitude"
            fill="outline"
          ></ion-input>
        </div>
      </div>
    </section>

    <ion-button
      expand="block"
      size="large"
      (click)="submit()"
      class="ion-margin"
      color="success"
      [disabled]="isSubmit"
    >
      {{ step === 2 ? "Submit" : "Next" }}
    </ion-button>
  </form>
</ion-content>

<ion-footer translucent>
  <ion-toolbar>
    <div class="ion-padding-horizontal">Step {{ step }} / 2</div>
  </ion-toolbar>
</ion-footer>
