.coord-heading {
  padding: 24px 0 16px 0;
  display: flex;
  align-items: center;
  ion-text {
    text-transform: capitalize;
    font-weight: 600;
    margin-right: 8px;
  }
}
.coord-input {
  display: flex;
  ion-item {
    width: 95%;
  }
}
ion-list-header {
  --color: #8794a4;
}
.notes {
  font-size: 14px;
  letter-spacing: 0.4;
  color: #8794a4;
}
ion-item {
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-end: 8px;
  --padding-start: 8px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  margin: 0 0 16px 0;
  ion-label {
    --color: #8794a4;
  }
  ion-input,
  ion-textarea {
    --padding-start: 12px;
    padding: 6px;
    border: 1px solid rgba(0, 56, 100, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 8px;
    &::placeholder {
      font-size: 15px;
    }
  }
}

.alert-errors {
  width: 100%;
  margin: 6px 0 0 0;
}
