/* .coord-heading {
  padding: 24px 0 16px 0;
  display: flex;
  align-items: center;
}
.coord-heading ion-text {
  text-transform: capitalize;
  font-weight: 600;
  margin-right: 8px;
} */
/* .coord-input {
  display: flex;
} */
/* .coord-input ion-item {
  width: 95%;
} */
ion-list-header {
  --color: #8794a4;
}
ion-item {
  --padding-end: 8px;
  --padding-start: 8px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  margin: 0 0 16px 0;
}
ion-item ion-label {
  --color: #8794a4;
}
ion-item ion-input,
ion-item ion-textarea {
  /* --padding-start: 12px !important; */
  padding: 6px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 8px;
}

ion-item ion-textarea {
  padding-left: 0;
}

ion-item ion-input::placeholder,
ion-item ion-textarea::placeholder {
  font-size: 15px;
}
.alert-errors {
  width: 100%;
  margin: 6px 0 0 0;
}
