<div class="ion-margin-top">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-no-padding">
        <div class="heading ion-padding">
          <ion-text color="dark">Change Default Coordinates</ion-text>
          <ion-button size="small" class="ion-margin-start" (click)="openMap()">
            open map <ion-icon name="map-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>

      <ion-col size="12" sizeLg="6">
        <ion-item>
          <ion-label position="fixed">Latitude:</ion-label>
          <ion-input [(ngModel)]="coord.lat"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" sizeLg="6">
        <ion-item>
          <ion-label position="fixed">Longitude:</ion-label>
          <ion-input [(ngModel)]="coord.lng"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-button color="primary" (click)="setCoord()">
          set Coordinates</ion-button
        >
        <ion-button class="reset ion-margin-start" (click)="resetCoord()">
          Reset Coordinates
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
