.alert {
  padding: 6px 16px;
  color: var(--ion-color-dark);
  border-radius: 8px;
  border: 1px solid;
  display: flex;
}

.alert div {
  display: flex;
  align-items: flex-start;
  margin-right: 6px;
}

.alert div ion-icon {
  font-size: 20px;
}

.danger {
  border: none;
  background: #fffffff3;
  color: var(--ion-color-danger-shade);
}

.warning {
  border: none;
  background: #fffffff3;
  color: var(--ion-color-warning-shade);
}

.success {
  border: none;
  background: #fffffff3;
  color: var(--ion-color-success-shade);
}
