ion-card {
  height: 100%;
  box-shadow: none;
  --background: var(--ion-color-light-tint);
  padding: 0 0 50px 0;
  ion-card-content {
    padding: 0;
    position: relative;
    .overlay-cover {
      background-color: rgba(0, 0, 0, 0.253);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      justify-content: center;
      align-items: center;
      ion-button {
        --padding-start: 30px;
        --padding-end: 16px;
        --padding-top: 12px;
        --padding-bottom: 12px;
      }
    }
  }
}
