<ion-card class="relative border border-slate-200 dark:border-slate-800">
  <ion-card-content class="no-pads" style="height: 100%">
    <div class="chart-container">
      <canvas
        id="lineChart"
        class="line-chart"
        [class]="{ blur: showReCalculate }"
      ></canvas>
    </div>

    <div
      class="absolute top-0 h-full w-full bg-dark/30 flex justify-center items-center"
      *ngIf="showReCalculate"
    >
      <ion-button class="ion-padding" (click)="requestAmortizationSchedule()">
        Re-Calculate
        <ion-icon name="trending-up-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
