<ion-footer>
  <ion-toolbar class="border-t border-slate-200 dark:border-slate-800">
    <div class="flex flex-col justify-center items-center py-3">
      <div class="title">Real Estate Management System</div>
      <div class="text-[14px]">
        <a href="https://github.com/eevan7a9/real-estate-management">
          <ion-text class="text-[#0054e9]">
            https://github.com/eevan7a9/real-estate-management
          </ion-text>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
