.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    color: var(--ion-color-dark);
    font-size: 14px;
  }
  .source {
    a {
      font-size: 12px;
    }
  }
}
