ion-content {
  --background: var(--ion-color-light);
}
ion-grid {
  height: 100%;
}
ion-row {
  height: 100%;
}

.details-container {
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

.enquire-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

.property-identity {
  box-shadow: none;
  margin: 12px 0 16px 0;
  .name {
    font-size: 24px;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
    .action-btn {
      --box-shadow: none;
    }
  }
  .type {
    margin-top: 8px;
    font-size: 18px;
  }
}

.property-description {
  box-shadow: none;
  margin: 16px 0;
  ion-card-content {
    font-size: 16px;
  }
}

.property-features {
  box-shadow: none;
  margin: 16px 0;
  ion-card-content {
    .item {
      font-size: 14px;
      font-weight: 400;
      margin-right: 8px;
      --padding-start: 4px;
      --padding-end: 4px;
      --padding-top: 6px;
      --padding-bottom: 6px;
      div {
        display: flex;
        align-items: center;
      }
    }
  }
}

.property-address {
  box-shadow: none;
  margin: 16px 0;
  ion-card-content {
    font-size: 18px;
    font-weight: normal;
  }
}

.property-price {
  box-shadow: none;
  margin: 16px 0;
  .price {
    font-size: 24px;
    font-weight: 600;
    color: var(--ion-color-dark);
  }
}
