<ion-header translucent>
  <ion-toolbar>
    <ion-title>Property Detail</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="location.back()">
        <ion-icon name="arrow-back-outline" style="font-size: 28px"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <app-notification-bell class="lg:mr-3"  />
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="px-4! pt-0!">
  <ion-progress-bar
    style="margin: 4px 0 0 0"
    type="indeterminate"
    *ngIf="!ready()"
  ></ion-progress-bar>

  <div class="max-w-[1600px] min-h-screen my-0 mx-auto xl:pt-10 pb-[100px]" *ngIf="property()">
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeXl="8" class="px-3">
          <ion-card class="property-identity border border-slate-200 dark:border-slate-800">
            <ion-card-content>
              <div class="name">
                <ion-text type="dark">{{ property().name }}</ion-text>

                <ion-button
                  class="action-btn"
                  color="light"
                  (click)="actionPopup()"
                >
                  <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>
              </div>
              <div class="type">
                <app-property-badge
                  [type]="property().type"
                ></app-property-badge>
              </div>
              <div class="price"></div>
            </ion-card-content>
          </ion-card>

          <app-properties-gallery
            [images]="property().images"
            [showEdit]="isOwner()"
            (edit)="editImages()"
            *ngIf="property().images"
            #propertiesGallery
          ></app-properties-gallery>

          <ion-card class="shadow-none my-4 mx-0 border border-slate-200 dark:border-slate-800">
            <ion-card-header class="px-4 py-2">
              Transaction Type
              <span class="capitalize text-[20px] font-semibold">
                For {{ property().transactionType }}
              </span>
            </ion-card-header>
          </ion-card>

          <ion-card class="shadow-none my-4 mx-0 border border-slate-200 dark:border-slate-800">
            <ion-card-header class="px-4 py-2"> Description </ion-card-header>
            <ion-card-content class="text-[16px]! lg:text-[18px]!">
              {{ property().description }}
            </ion-card-content>
          </ion-card>

          <ion-card
            class="property-features shadow-none my-4 mx-0 border border-slate-200 dark:border-slate-800"
            *ngIf="property().features && property().features.length"
          >
            <ion-card-header class="px-4 py-2"> Features </ion-card-header>
            <ion-card-content>
              <ion-badge
                color="primary"
                class="item p-2 lg:py-2 lg:px-3"
                *ngFor="let item of property().features"
              >
                <div>
                  <ion-icon name="bookmark-outline"></ion-icon>
                  {{ item }}
                </div>
              </ion-badge>
            </ion-card-content>
          </ion-card>

          <ion-card class="shadow-none border border-slate-200 dark:border-slate-800">
            <ion-card-header class="px-4 py-2"> Address </ion-card-header>
            <ion-card-content class="lg:text-[18px]">
              {{ property().address }}
            </ion-card-content>
          </ion-card>

          <ion-card class="shadow-none mt-4 border border-slate-200 dark:border-slate-800" *ngIf="property().price">
            <ion-card-header class="px-4 py-2"> Price </ion-card-header>
            <ion-card-content class="price">
              <span class="text-[20px] lg:text-[24px] font-medium">
                {{
                  property().price | currency : property().currency : "symbol"
                }}
              </span>

              <span
                class="capitalize text-[18px]"
                *ngIf="property().transactionType === transactionType.forRent"
              >
                | {{ property().paymentFrequency }}
              </span>
            </ion-card-content>
          </ion-card>

          @if(isOwner()) {
            <div class="max-h-[600px] mt-3 xl:mt-5">
              <app-enquiries-related-list [propertyId]="property().property_id" />
            </div>
          } @else {
            <ion-card class="enquiry-section border border-slate-200 dark:border-slate-800">
              <ion-card-header class="px-4 py-2">
                <ion-card-title> Enquire for more Information </ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <app-enquiries-new-form
                  [property]="property()"
                  [userTo]="property().user_id"
                ></app-enquiries-new-form>
              </ion-card-content>
            </ion-card>
          }
        </ion-col>

        <ion-col size="12" sizeXl="4" class="py-3 px-3 xl:pl-0">
          <div class="mortgage-container">
            <app-mortgage-core-calc
              [simpleMode]="true"
              [boxShadow]="false"
            ></app-mortgage-core-calc>
          </div>

          <ion-card class="shadow-none mt-5 border border-slate-200 dark:border-slate-800">
            <ion-card-header class="bg-primary px-4 py-2 md:py-3 flex flex-row justify-between items-center">
              <ion-card-title color="light">
                Map View
              </ion-card-title>
              <ion-icon name="map-outline" size="large" color="light"></ion-icon>
            </ion-card-header>

            <ion-card-content class="pb-4!">
              <p class="px-3 py-4 text-[16px]!">
                Maps can be a useful tool for viewing properties location &
                filter them by types. this also help us to know distances so
                that we know how far away one thing is from another.
              </p>

              <ion-button class="capitalize" expand="block" size="large" (click)="findInMap()">
                <ion-icon name="locate-outline"></ion-icon>
                <span class="mx-1">Find in Map</span>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="p-4" *ngIf="!property() && ready()">
    <ion-card class="border-2 shadow-none py-8">
      <ion-card-header class="px-4 py-2">
        <h1 class="text-[42px] text-center">Error 404</h1>
      </ion-card-header>
      <ion-card-content>
        <h5 class="text-[24px]! text-center">
          <strong>Property</strong> not found. It may not exist or has been
          removed.
        </h5>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="py-16 flex flex-col items-center justify-center" *ngIf="!ready()">
    <ion-spinner name="lines"></ion-spinner>
    <ion-text class="mt-5"
      >Fetching Property Details, this won't take long...</ion-text
    >
  </div>

  <app-footer *ngIf="property()" />
</ion-content>
