ion-content {
  --background: var(--ion-color-light);
}
ion-grid {
  height: 100%;
}
ion-row {
  height: 100%;
}

.details-container {
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

.enquire-container {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.property-identity {
  box-shadow: none;
  margin: 16px 0;
  .name {
    font-size: 24px;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
    .action-btn {
      --box-shadow: none;
    }
  }
  .type {
    margin-top: 8px;
    font-size: 18px;
  }
}
