<ion-header translucent>
  <ion-toolbar>
    <ion-title>Property Detail</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="location.back()">
        <ion-icon name="arrow-back-outline" style="font-size: 28px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="property">
  <div class="details-container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeXl="8">
          <ion-card class="property-identity">
            <ion-card-content>
              <div class="name">
                <ion-text color="dark">{{ property.name }}</ion-text>

                <ion-button
                  class="action-btn"
                  color="light"
                  (click)="actionPopup()"
                >
                  <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>
              </div>
              <div class="type">
                <app-property-badge [type]="property.type"></app-property-badge>
              </div>
              <div class="price"></div>
            </ion-card-content>
          </ion-card>

          <app-property-gallery></app-property-gallery>

          <ion-card class="property-description">
            <ion-card-header> Description </ion-card-header>
            <ion-card-content>
              {{ property.description }}
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
              impedit alias laborum corrupti magnam in repellat! Corrupti
              temporibus ut eos.
            </ion-card-content>
          </ion-card>

          <ion-card
            class="property-features"
            *ngIf="property.features && property.features.length"
          >
            <ion-card-header> Features </ion-card-header>
            <ion-card-content>
              <ion-badge
                color="success"
                class="item"
                *ngFor="let item of property.features"
              >
                <div>
                  <ion-icon name="bookmark-outline"></ion-icon>
                  {{ item }}
                </div>
              </ion-badge>
            </ion-card-content>
          </ion-card>

          <ion-card class="property-address">
            <ion-card-header> Address </ion-card-header>
            <ion-card-content>
              {{ property.address }}
            </ion-card-content>
          </ion-card>

          <ion-card class="property-price" *ngIf="property.price">
            <ion-card-header> Price </ion-card-header>
            <ion-card-content class="price">
              {{ property.price | currency: property.currency:"symbol" }}
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" sizeXl="4">
          <div class="enquire-container">
            <app-mortgage-core-calc
              [boxShadow]="false"
            ></app-mortgage-core-calc>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
