ion-content {
  --background: var(--ion-color-light);
}
ion-grid {
  height: 100%;
}
ion-row {
  height: 100%;
}

.details-container {
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

.enquire-container {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
