<ion-content>
  <div class="notification-container ion-padding-vertical">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title> My Notifications </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item
                  *ngFor="let item of notifications"
                  button
                  (click)="itemClicked()"
                >
                  <ion-label>{{ item.title }}</ion-label>
                  <div class="item-right-side">
                    <ion-badge [color]="getItemBadge(item.type)">{{
                      item.type
                    }}</ion-badge>
                    {{ item.date | date }}
                  </div>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
