ion-content {
  --background: var(--ion-background-color-step-100);
}

.notification-container {
  min-height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

ion-item, ion-checkbox {
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-end: 0;
  --padding-start: 0;
}
