ion-content {
  --background: var(--ion-color-light);
}
ion-card {
  box-shadow: none;
}
.notification-container {
  min-height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

ion-item {
  --inner-padding-bottom: 16px;
  --inner-padding-top: 16px;
  .item-right-side {
    display: flex;
    justify-content: space-around;
    align-items: center;
    ion-badge {
      margin: 0 8px 0 0;
    }
  }
}
