<ion-card>
  <ion-card-header>
    <ion-card-title class="capitalize text-[20px] lg:text-[24px] px-3 lg:px-6 pt-4"> Contact Form </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="contactForm" (submit)="submit()">
      <ion-list color="light">
        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Email:"
            type="text"
            formControlName="email"
          ></ion-input>
        </ion-item>

        <div
          class="alert-errors"
          *ngIf="error && contactForm.get('email').errors"
        >
          <app-alert-card> Email is invalid. </app-alert-card>
        </div>

        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Name:"
            type="text"
            formControlName="name"
          ></ion-input>
        </ion-item>

        <div
          class="alert-errors"
          *ngIf="error && contactForm.get('name').errors"
        >
          <app-alert-card> Name must be filled correctly. </app-alert-card>
        </div>

        <ion-item>
          <ion-textarea
            formControlName="message"
            labelPlacement="floating"
            label="Message:"
            placeholder="Must be atleast 10 charters long"
          ></ion-textarea>
        </ion-item>

        <div
          class="alert-errors"
          *ngIf="error && contactForm.get('message').errors"
        >
          <app-alert-card>
            Make sure the message are filled correctly.
          </app-alert-card>
        </div>
      </ion-list>

      <ion-button class="mt-4" expand="block" type="submit" [disabled]="sent">
        {{ sent ? "Message Sent" : "Send message" }}
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>
