ion-card {
  ion-card-title {
    font-size: 32px;
    font-weight: bold;
  }
  ion-item {
    --background: var(--ion-color-light);
    margin: 0 0 8px;
  }
}

.alert-errors {
  width: 100%;
  margin: 6px 0 0 0;
}
