<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mortgage Calculator Page </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mortgage-calc-container">
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col size="12" class="ion-padding">
          <h1>How a mortgage calculator can help ?</h1>
          Buying a <strong>Real-Estate-Property</strong> is one of the largest
          purchase most people will make, so you should think carefully about
          how you’re going to finance it. You can adjust the property price,
          down payment and mortgage terms to see how your monthly payment will
          change.
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" sizeXl="7">
          <app-mortgage-core-calc></app-mortgage-core-calc>
        </ion-col>
        <ion-col size="12" sizeXl="5" style="height: 100%">
          <ion-card style="height: 100%">
            <ion-card-content> Graph </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
