<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mortgage Calculator Page </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mortgage-calc-container">
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col size="12" class="ion-padding">
          <h1>How a mortgage calculator can help ?</h1>
          Buying a <strong>Real-Estate-Property</strong> is one of the largest
          purchase most people will make, so you should think carefully about
          how you’re going to finance it. You can adjust the property price,
          down payment and mortgage terms to see how your monthly payment will
          change.
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" sizeXl="7">
          <app-mortgage-core-calc
            #calc
            [boxShadow]="false"
            (formValue)="pieChart.setChart($event)"
            (amortizationSchedule)="lineChart.setChart($event)"
            (scheduleChanged)="lineChart.scheduleIsChanged()"
          ></app-mortgage-core-calc>
        </ion-col>
        <ion-col size="12" sizeXl="5">
          <app-mortgage-pie-chart #pieChart></app-mortgage-pie-chart>
        </ion-col>
        <ion-col size="12" class="ion-padding">
          <div class="note-container">
            <div class="icon-container">
              <ion-icon name="alert-circle-outline"></ion-icon>
            </div>
            Your monthly mortgage payment will depend on your Property price,
            Down payment, Loan term, Property taxes,Insurance, and Interest
            rate.
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <app-mortgage-line-chart
            #lineChart
            (generateSchedule)="calc.getAmortizationSchedule()"
          ></app-mortgage-line-chart>
        </ion-col>
        <ion-col size="12" class="ion-padding">
          <h4 class="ion-padding-top">What is Amortization Schedule Graph?</h4>
          <p>
            <ion-text color="dark">
              showing the amount of principal and the amount of interest that
              comprise each payment until the loan is paid off at the end of its
              term.
            </ion-text>
          </p>
          <p>
            <ion-text color="dark">
              Initially, most of your payment goes toward the interest rather
              than the principal. The loan amortization schedule will show as
              the term of your loan progresses, a larger share of your payment
              goes toward paying down the principal until the loan is paid in
              full at the end of your term.
            </ion-text>
          </p>
          <h4 class="ion-margin-top">Understanding an Amortization Schedule</h4>
          <p>
            <ion-text color="dark">
              In an amortization schedule, the percentage of each payment that
              goes toward interest diminishes a bit with each payment and the
              percentage that goes toward principal increases.
            </ion-text>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="extra-spacer"></div>

  <app-footer></app-footer>
</ion-content>
