<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mortgage Calculator Page </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mortgage-calc-container">
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col size="12" sizeXl="6">
          <app-mortgage-core-calc></app-mortgage-core-calc>
        </ion-col>
        <ion-col size="12" sizeXl="6">
          <ion-card>
            <ion-card-content> Graph </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
