.card-slider {
  flex: 0 0 auto;
  max-width: 250px;
  height: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-pr */
}

.card-view-all {
  ion-card {
    background: var(--ion-color-light-shade);
    ion-card-content {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 450px;
    }
  }
}

.view-all {
  --background: var(--ion-color-dark);
  span {
    color: var(--ion-color-light);
    text-transform: capitalize;
  }
}
