<!-- Cards View -->
@if(displayOption() === 'cards') {
  <section class="ion-content-scroll-host flex justify-center items-center py-4 md:py-3 px-3">
    <ul
      class="grid grid-cols-1 gap-4"
      [ngClass]="{ 'md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4': !singleCol() }"
    >
      <li *ngFor="let item of propertiesList()" class="col-span-1">
        <app-properties-card [property]="item"></app-properties-card>
      </li>
    </ul>
  </section>
}

<!-- List View -->
@if(displayOption() === 'list') {
  <section class="flex flex-col gap-2 lg:gap-3 px-3">
    @for (item of propertiesList(); track $index) {
      <app-properties-list-item
        [property]="item"
        [enableOwnedBadge]="enableOwnedBadge()"
        [enablePopupOptions]="enablePopupOptions()"
      ></app-properties-list-item>
    }
  </section>
}

<ion-row>
  <ion-infinite-scroll
    #IonInfiniteScroll
    threshold="80px"
    (ionInfinite)="loadMoreProperty()"
    [disabled]="disableInfinitScroll() || hasNoMore()"
  >
    <ion-infinite-scroll-content
      [ngClass]="{ 'py-12': !disableInfinitScroll() }"
      loadingSpinner="bubbles"
      loadingText="Loading data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-row>
