<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="px-3 xl:px-4 text-[16px] md:text-[18px]">
      Settings Page
    </ion-title>

    <ion-buttons slot="end">
      <app-notification-bell class="lg:mr-3"  />
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="max-w-screen-2xl mx-auto px-3 xl:px-4 py-3 xl:py-5 flex flex-col gap-3"
  >
    <ion-card class="shadow-none border border-slate-200 dark:border-slate-800">
      <ion-card-content>
        <app-settings-theme></app-settings-theme>
      </ion-card-content>
    </ion-card>

    <ion-card class="shadow-none border border-slate-200 dark:border-slate-800">
      <ion-card-content>
        <app-settings-coord-default></app-settings-coord-default>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<app-footer></app-footer>
