<form [formGroup]="enquiryForm">
  <div>
    <ion-input
      type="text"
      label="Title :"
      labelPlacement="floating"
      formControlName="title"
      errorText="Title is too short."
    ></ion-input>
  </div>

  <div>
    <ion-input
      type="text"
      label="Email :"
      labelPlacement="floating"
      formControlName="email"
      errorText="Invalid email"
    ></ion-input>
  </div>

  <div class="ion-margin-top">
    <ckeditor
      [editor]="Editor"
      formControlName="content"
      (ready)="onReady($event)"
      class="ckeditor ion-margin-top"
    ></ckeditor>
  </div>

  <div class="alert-errors" *ngIf="error && enquiryForm.get('content').errors">
    Message content is too short.
  </div>

  <div class="ion-margin-top">
    <ion-select
      interface="popover"
      formControlName="topic"
      placeholder="Select One"
      label="Topic :"
    >
      <ion-select-option value="schedule">Schedule Visit</ion-select-option>
      <ion-select-option value="payment">Payment</ion-select-option>
      <ion-select-option value="sales">Sales</ion-select-option>
      <ion-select-option value="information">Information</ion-select-option>
    </ion-select>
  </div>

  <ion-button
    expand="block"
    size="large"
    (click)="submit()"
    class="ion-margin"
    color="success"
    [disabled]="submitting"
  >
    Submit
  </ion-button>
</form>