
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 200px;
}

.alert-errors {
  width: 100%;
  margin: 6px 0 0 0;
  color: var(--ion-color-danger);
}

body.dark :host ::ng-deep {
  // ckeditor5-angular - we change color when dark-mode is active
  .ck-content.ck-editor__editable {
    &.ck-blurred {
      background: var(--ion-color-step-50);
    }
    &.ck-focused {
      background: var(--ion-color-light);
    }
  }
}
