<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Properties Page </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      inputmode="text"
      clearIcon
      debounce="1300"
      [(ngModel)]="search"
      animated
      (ionChange)="propertyLists.setSearch(search)"
      placeholder="Search Property"
    ></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeMd="6">
          <ion-item lines="none">
            <ion-label>Filter by:</ion-label>
            <ion-select
              multiple="true"
              [(ngModel)]="filterBy"
              (ionChange)="propertyLists.setFilters(filterBy)"
            >
              <ion-select-option
                *ngFor="let filter of filters"
                [value]="filter.value"
              >
                {{filter.label}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="12" sizeMd="6">
          <ion-item lines="none">
            <ion-label>Sort by:</ion-label>
            <ion-select
              [(ngModel)]="sortBy"
              okText="Okay"
              cancelText="Dismiss"
              (ionChange)="propertyLists.setSort(sortBy)"
            >
              <ion-select-option
                *ngFor="let sort of sorts"
                [value]="sort.value"
              >
                {{ sort.label}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="properties-container">
    <ion-progress-bar
      style="margin: 4px 0 0 0"
      type="indeterminate"
      [hidden]="!progressBar"
    ></ion-progress-bar>

    <ion-grid>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col class="heading ion-padding-horizontal">
          List of Properties
        </ion-col>

        <ion-col class="ion-padding-horizontal">
          <ion-button
            color="success"
            class="ion-float-right"
            (click)="presentModal()"
          >
            Add New Property
            <ion-icon name="add-circle-outline"></ion-icon
          ></ion-button>
        </ion-col>
      </ion-row>
      <!-- Card List of Properties -->
      <app-properties-list
        #propertyLists
        (isLoading)="presentLoading()"
      ></app-properties-list>
    </ion-grid>
  </div>
</ion-content>
