<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Properties Page </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      inputmode="text"
      spellcheck
      animated
      placeholder="Search Property"
    ></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeMd="6" sizeXl="4">
          <ion-item lines="none">
            <ion-label>Filter by:</ion-label>
            <ion-select multiple="true" [value]="[]">
              <ion-select-option value="house">house</ion-select-option>
              <ion-select-option value="apartment">Apartment</ion-select-option>
              <ion-select-option value="pad">Pad</ion-select-option>
              <ion-select-option value="boarding-house">
                Boarding house
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="12" sizeMd="6" sizeXl="4">
          <ion-item lines="none">
            <ion-label>Sort by:</ion-label>
            <ion-select value="date-new" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="date-new">Latest</ion-select-option>
              <ion-select-option value="views">Views</ion-select-option>
              <ion-select-option value="name">Name</ion-select-option>
              <ion-select-option value="price">Price</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="properties-container">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col class="heading ion-padding-horizontal">
          List of Properties
        </ion-col>
        <ion-col class="ion-padding-horizontal">
          <ion-button
            color="success"
            class="ion-float-right"
            (click)="presentModal()"
          >
            Add New Property
            <ion-icon name="add-circle-outline"></ion-icon
          ></ion-button>
        </ion-col>
      </ion-row>
      <!-- Lists of Propertis Cards -->
      <ion-row>
        <ion-col
          size="12"
          sizeMd="6"
          sizeLg="4"
          sizeXl="3"
          *ngFor="let item of [].constructor(20)"
        >
          <ion-card>
            <img src="assets/images/madison.jpeg" />
            <ion-card-header>
              <ion-card-subtitle>Destination</ion-card-subtitle>
              <ion-card-title>Madison, WI</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Founded in 1829 on an isthmus between Lake Monona and Lake
              Mendota, Madison was named the capital of the Wisconsin Territory
              in 1836.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
