<ion-header translucent>
  <ion-toolbar>
    <ion-title>Management Properties</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="location.back()">
        <ion-icon name="arrow-back-outline" style="font-size: 28px"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <app-notification-bell class="lg:mr-3" />
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Management Properties</h1>
</ion-content>

<app-footer></app-footer>
