<ion-content>
  <div class="change-pass-container">
    <ion-card
      class="change-pass-card lg:max-w-[400px] border border-slate-200 dark:border-slate-800"
    >
      <ion-card-header class="ion-text-center">
        <div class="logo-container">
          <img src="../assets/images/logo.png" alt="logo" />
          <div class="source"></div>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="title">Change Passowrd</div>
        <div class="sub-title">
          Your new Password must be different from your previous Password
        </div>
        <form [formGroup]="changePassForm" (submit)="submit()">
          <ion-list>
            <ion-item>
              <ion-input
                labelPlacement="floating"
                label="Password Current"
                type="password"
                formControlName="passwordCurrent"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                labelPlacement="floating"
                label="Password New"
                type="password"
                formControlName="passwordNew"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                labelPlacement="floating"
                label="Password Confirm"
                type="password"
                formControlName="passwordConfirm"
              ></ion-input>
            </ion-item>

            <div class="pt-3">
              <ul>
                <li>Passwords must be atleast 8 characters log.</li>
                <li>New Password and Confirm Password must be the same.</li>
                <li>
                  Passowrd must contain a number, special charaters, cappitalize
                  & small case
                </li>
              </ul>
            </div>

            <ion-button
              size="large"
              class="ion-margin-top"
              expand="full"
              color="primary"
              type="submit"
            >
              Submit
            </ion-button>
          </ion-list>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<app-footer></app-footer>
