ion-content {
  --background: var(--ion-color-light);
}
.change-pass-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-pass-card {
  width: 100%;
  max-width: 450px;
  .title {
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-dark);
  }
  ion-item {
    margin-top: 8px;
    --background: var(--ion-color-light);
  }
}
@media (max-width: 600px) {
  .change-pass-card {
    box-shadow: none;
    min-height: 100%;
    width: 100%;
    max-width: 400px;
  }
}
