<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="px-3 xl:px-4 text-[16px] md:text-[18px]">
      Map Page
    </ion-title>
    <ion-buttons slot="end">
      <app-notification-bell class="lg:mr-3" />
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="h-full min-h-full">
    <ion-row class="h-full min-h-full">
      <ion-col
        size="12"
        class="z-10 relative flex min-h-[700px] h-[70%] lg:h-full"
      >
        <section class="w-full h-full relative">
          <app-map-search-field
            (selectedLocation)="mapLeaflet.setMapCenter($event)"
          ></app-map-search-field>
          <app-map-leaflet
            #mapLeaflet
            [visibleMarkerType]="visibleType()"
          ></app-map-leaflet>
          <app-map-markers-legend
            (toggledMarker)="setVisibleMarkerType($event)"
          ></app-map-markers-legend>
        </section>

        <!-- Side section for vertical property list -->
        <div
          class="hidden lg:block w-full max-w-[380px] overflow-y-auto lg:p-1 xl:p-2"
        >
          <app-properties-list
            class="properties-list"
            [singleCol]="true"
            [properties]="properties()"
            [limit]="4"
            [disableInfinitScroll]="true"
          ></app-properties-list>

          <div class="pt-1">
            <ion-card
              class="shadow-none border border-slate-200 dark:border-slate-800 h-[525px]! mx-2!"
            >
              <div class="flex items-center justify-center h-full">
                <ion-button
                  color="primary"
                  fill="outline"
                  routerLink="/properties"
                >
                  View All
                </ion-button>
              </div>
            </ion-card>
          </div>
        </div>
      </ion-col>

      <!-- Mobile Screen Only -->
      <ion-col size="12" class="ion-hide-lg-up">
        <div class="w-full mb-[60px] py-3 pr-3">
          <app-div-horizontal-slide>
            <div
              *ngFor="let item of properties()?.slice(0, 6)"
              class="min-w-[320px] px-2"
            >
              <app-properties-card [property]="item"></app-properties-card>
            </div>

            <div>
              <div
                class="border border-primary rounded-md h-full w-[300px] flex justify-center items-center"
              >
                <ion-button
                  color="primary"
                  fill="outline"
                  routerLink="/properties"
                >
                  View All
                </ion-button>
              </div>
            </div>
          </app-div-horizontal-slide>
        </div>
      </ion-col>

      <ion-col size="12" class="ion-no-padding ion-hide-lg-up">
        <app-footer></app-footer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
