<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Map Page</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="h-full min-h-full">
    <ion-row class="h-full min-h-full">
      <ion-col
        size="12"
        class="z-10 relative flex min-h-[700px] h-[70%] lg:h-full"
      >
        <section class="w-full h-full relative">
          <app-map-search-field
            (selectedLocation)="mapLeaflet.setMapCenter($event)"
          ></app-map-search-field>
          <app-map-leaflet
            #mapLeaflet
            [visibleMarkerType]="visibleType"
          ></app-map-leaflet>
          <app-map-markers-legend
            (toggledMarker)="setVisibleMarkerType($event)"
          ></app-map-markers-legend>
        </section>

        <!-- Side section for vertical property list -->
        <div class="hidden lg:block w-[400px] overflow-y-auto">
          <app-properties-list
            class="properties-list"
            [singleCol]="true"
            [properties]="properties()"
            [limit]="4"
            [disableInfinitScroll]="true"
          ></app-properties-list>

          <ion-card class="!h-[525px] !mx-2">
            <ion-card-content
              class="min-h-[506px] flex items-center justify-center"
            >
              <div>
                <ion-button
                  color="primary"
                  fill="outline"
                  routerLink="/properties"
                >
                  View All
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
      </div>
      </ion-col>

      <!-- Mobile Screen Only -->
      <ion-col size="12" class="ion-hide-lg-up">
        <div class="w-full mb-[60px]">
          <app-div-horizontal-slide>
            <div
              *ngFor="let item of properties()?.slice(0, 6)"
              class="card-slider ion-margin-vertical"
            >
              <div class="property-card">
                <app-properties-card [property]="item"></app-properties-card>
              </div>
            </div>

            <div class="card-slider mt-3">
              <ion-card class="!h-[526px] mx-0">
                <ion-card-content
                  class="w-[230px] min-h-[506px] flex items-center justify-center"
                >
                  <div>
                    <ion-button
                      color="primary"
                      fill="outline"
                      routerLink="/properties"
                    >
                      View All
                    </ion-button>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
          </app-div-horizontal-slide>
        </div>
      </ion-col>

      <ion-col size="12" class="ion-no-padding ion-hide-lg-up">
        <app-footer></app-footer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
