ion-grid {
  height: 100%;
  min-height: 100%;
}
ion-row {
  height: 100%;
  min-height: 100%;
}

.map-section {
  background-color: var(--ion-color-light-shade);
  height: 100%;
}
.horizontal-slides-container {
  margin-bottom: 60px;
  width: 100%;
}
.extra-section {
  background-color: var(--ion-color-light);
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  .properties-list {
    max-width: 500px;
  }
}

@media (max-width: 992px) {
  .map-section {
    height: 70%;
  }
}
