<div class="ion-padding-top">
  <ion-card class="labels-card ion-hide-lg-down">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-text class="label-text">Message</ion-text>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-text class="label-text">Email Address</ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-text class="label-text">Date</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card
    *ngFor="let item of enquiries"
    class="ion-margin-vertical"
    (click)="selectEnquiry(item)"
  >
    <ion-card-header>
      <ion-card-title>
        <div class="property-name">
          <ion-badge class="badge" color="light" *ngIf="item.read">
            Read
          </ion-badge>
          <ion-badge class="badge" color="medium" *ngIf="!item.read">
            Unread
          </ion-badge>
          {{ item.title }}
        </div>
      </ion-card-title>

      <ion-button
        class="action-btn"
        color="light"
        (click)="actionPopup($event, item.id)"
      >
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>
          <ion-col size="12" sizeLg="6">
            <ion-row size="auto">
              <ion-col>
                <ion-text>{{ item.property.name }}</ion-text>
              </ion-col>
              <ion-col size="*" sizeLg="1">
                <app-enquiry-badge [topic]="item.topic"></app-enquiry-badge>
                <!-- <ion-badge color="primary">{{ item.topic }}</ion-badge> -->
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12" sizeLg="4" class="ion-text-lg-center">
            <ion-text>{{ item.email }}</ion-text>
          </ion-col>
          <ion-col size="12" sizeLg="2">
            <ion-text>{{ item.date | date }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
