ion-content {
  --background: var(--ion-background-color-step-100);
}
.tab-button {
  --border-radius: 0;
}
.form-information ion-item {
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  margin: 0 0 16px 0;
}
.form-information ion-item ion-label {
  --color: #8794a4;
}
.form-information ion-item ion-input, .form-information ion-item ion-textarea {
  --padding-start: 12px;
  padding: 6px;
  border: 1px solid rgba(0, 57, 100, 0.418);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 8px;
}
.form-information ion-item ion-input::placeholder, .form-information ion-item ion-textarea::placeholder {
  font-size: 15px;
}